<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Product Maintenance</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    </head>
    <body class = "container" style ="padding: 45px 5px">
        <h1>Products</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Code</th>
                    <th scope="col">Description</th>
                    <th scope="col">Price</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>            
                    <tr th:each="product: ${products}">
                        <th scope="row">${product.code}</th>
                        <td>${product.description}</td>
                        <td>${product.price}</td>
                        <td><a th:href="@{${'/product?id=' + product.id}}">Edit</a></td>
                        <td><a th:href="@{${'/confirm?id=' + product.id}}">Delete</a></td>
                    </tr>
            </tbody>
        </table>
    </body>
    <a th:href ="@{/add}"> Add product </a>  
</html>
